body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .filetree-sidebar {
        width: 400px;
        filter:drop-shadow(0 0 .5rem rgb(0,0,0));
    }
    .search-link {
        font-size: 1.1rem;
    }
    .excalidraw-wrapper {
        margin-right: -150px;
        margin-left: -50px;
    }
    #search-results .searchresult {
        font-size: 1rem;
    }
    #search-results {
        max-height: 70vh;
    }
}
